<a href="mailto:welcome@aggency.ru" class="link">начать проект с нами</a>

<style lang="scss">
  .link {
    display: flex;
    padding: 10px 20px;
    background: #000000;
    border-radius: 40px;
    color: #FFFFFF;
    line-height: 20px;
  }
</style>