<h2 class="title"><slot /></h2>

<style lang="scss">
  .title {
    padding-left: 11px;
    font-size: 1rem;
    font-weight: 500;

    @media (min-width: 1200px) {
    font-size: 1.125rem;
    }
  }
</style>