---

import l1 from "/logos/1.svg";
import l3 from "/logos/3.svg";
import l4 from "/logos/4.svg";
// import l5 from "/logos/5.svg";
import l6 from "/logos/6.svg";
import l7 from "/logos/7.svg";
import l9 from "/logos/9.svg";
// const logos = await Astro.glob('/public/logos/*.svg');

const logos = [l1, l3, l4, l6, l7, l9, l1, l3, l4, l6, l7, l9];

const mobLogos = [...logos].splice(logos.length / 2).concat([...logos].splice(0, logos.length / 2));

---

<div class="slider">
  <ul class="slider__list">
    {
      logos.map(logo => {
        return (
          <li class="slider__item">
            <img src={logo} alt="Логотип" />
          </li>
        )
      })
    }
  </ul>
  <ul class="slider__list">
    {
      logos.map(logo => {
        return (
          <li class="slider__item">
            <img src={logo} alt="Логотип" />
          </li>
        )
      })
    }
  </ul>
</div>
<div class="slider slider_mob">
  <ul class="slider__list slider__list_mob">
    {
      mobLogos.map(logo => {
        return (
          <li class="slider__item">
            <img src={logo} alt="Логотип" />
          </li>
        )
      })
    }
  </ul>
  <ul class="slider__list slider__list_mob">
    {
      mobLogos.map(logo => {
        return (
          <li class="slider__item">
            <img src={logo} alt="Логотип" />
          </li>
        )
      })
    }
  </ul>
</div>

<style lang="scss">

  img {
    display: block;
  }

  .slider.slider_mob {
    @media (min-width: 1200px) {
      display: none;
    }
  }

  .slider {
    overflow: hidden;
    width: 100%;
  }
  
  .slider__list, .slider {
    display: flex;
    align-items: center;
  }
  .slider__item {
    margin: 0 1.75rem;
  }
  .slider__list {
    @media (min-width: 1200px) {
      padding-top: 4rem;
    }
    padding-top: 1.5rem;
    animation: move 35s linear infinite;
  }

  .slider__list_mob {
    padding-top: 0;
    animation: move-mob 35s linear infinite;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes move-mob {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
</style>