---
import Awards from "../components/Awards.astro";
import Clients from "../components/Clients.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import NavBar from "../components/NavBar.astro";
import Projects from "../components/Projects.astro";
import Us from "../components/Us.astro";
import Video from "../components/Video.astro";
import MobNav from "../components/shared/MobNav.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/global.css" />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<MobNav />
			<HeroSection />
			<Us />
			<Clients />
			<Video />
			<Projects />
			<Awards />
			<Footer />
		</main>
	</body>
</html>
