---
import SectionTitle from "./shared/SectionTitle.astro";
import Slider from "./shared/Slider.astro";

---
<section class="clients">
  <SectionTitle>клиенты</SectionTitle>
  <Slider />
</section>

<style lang="scss">
  .clients {
    margin-bottom: 1rem;
  }
</style>






 