---
import SectionTitle from "./shared/SectionTitle.astro";
import Slider from "./shared/Slider.astro";

---
<section class="clients">
  <div class="container">
    <SectionTitle>клиенты</SectionTitle>
  </div>
  <Slider />
</section>

<style lang="scss">

  .container {
    max-width: 817px;
    margin: 0 auto;
  }
  .clients {
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      margin-bottom: 4rem;
    }
  }
</style>






 