<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="item item_ltd">
      ооо "джи джи" креативное агентство
    </div>
    <div class="item item_cont">
      москва <br />
      +7 495 663 7650 
      олимпийский проспект 16/5
    </div>
    <a href="mailto:welcome@aggency.ru" class="link">почта: welcome@aggency.ru</a>
    <div class="date">© {new Date().getFullYear()}  ООО «ДЖИ ДЖИ». Все права защищены. 18+</div>
  </div>
</footer>

<style lang="scss">
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 11px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 300;
    @media (min-width: 1200px) {
      padding-top: 4rem;
    }
  }
  
  .footer__container {
    display: grid;
    grid-template-areas: 
    "ltd"
    "cont"
    "link"
    ;
    @media (min-width: 1200px) {
      max-width: 925px;
      margin: 0 auto;
      font-size: 28px;
      grid-template-areas: 
    "ltd link"
    "cont link"
    ;
    }
  }

  .item_ltd {
    max-width: 11.5rem;
    margin-bottom: 18px;
    @media (min-width: 1200px) {
      max-width: 345px;
    }
  }
  
  .item_cont {
    max-width: 14rem;
    @media (min-width: 1200px) {
      max-width: 24rem;
    }
  }

  .link {
    margin-top: 33px;
    margin-bottom: 33px;
    @media (min-width: 1200px) {
      grid-area: link;
      font-size: 18px;
      margin: 0;
    }
  }
  
  .date {
    font-size: 12px;
    @media (min-width: 1200px) {
      margin-top: 143px;
      font-size: 14px;
    }
  }

</style>